<html lang="en-au">
  <head>
    <meta charset=utf-8>
    <link rel=canonical href=https://www.christianfscott.com/>
    <title>Christian Scott</title>
    <meta name=description content="software engineer in sydney, australia">
    <meta name=viewport content="width=device-width,initial-scale=1,viewport-fit=cover">
    <link rel=alternate type=application/rss+xml href=https://www.christianfscott.com/index.xml title="Christian Scott">
    <link rel="stylesheet" href="/styles.css">
    <meta property="og:title" content="Christian Scott">
    <meta property="og:description" content="software engineer in sydney, australia">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.christianfscott.com/">
    <meta property="og:image" content="https://www.christianfscott.com/logo.png">
    <meta property="og:updated_time" content="2020-07-20T14:38:57+00:00">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@christianfscott">
    <meta name="twitter:image" content="https://www.christianfscott.com/logo.png">
    ${ if(isindex) }
    <meta name="twitter:title" content="Christian Scott">
    ${ else }
    <meta name="twitter:title" content="${title}">
    ${ endif }
    <meta name="twitter:description" content="software engineer in sydney, australia">
  </head>
  <body>
    <main class="content">
      <nav>
        <div>
          <a href="/" class="nav-item bold">Christian Scott</a>
        </div>
        <div>
          <a href="https://twitter.com/christianfscott" class="nav-item">twitter</a>
          <a href="https://github.com/christianscott" class="nav-item">github</a>
          <a href="mailto:hello@christianfscott.com" class="nav-item">email me</a>
        </div>
      </nav>

      <hr>

      ${ if(isindex) }
        <h1>Posts</h1>
      ${ else }
        <h1>${title}</h1>
        <h2 class="subtitle">
          <time datetime="${date}">
            ${nice_date}
          </time>
        </h2>
      ${ endif }

      ${body}
    </main>
  </body>
</html>
