{{- partial "head.html" . -}}

<div class="content">
  <nav>
    <ul class="social-links">
      <li><span><a href="/">← back</a> | </span></li>
      <li><span><a href="https://github.com/christianscott">github</a> | </span></li>
      <li><span><a href="https://twitter.com/christianfscott">twitter</a></span></li>
    </ul>
  </nav>

  <article>
    <h1>{{ .Title }}</h1>
    <h2 class="subtitle">
      <time datetime="{{ .Date.Format "2006-01-02" }}">
        {{ .Date.Format "January 2, 2006" }}
      </time>
    </h2>
    {{ .Content }}
  </article>
</div>

{{- partial "footer.html" . -}}
